html
	head
		title Real time web chat
		link(rel='stylesheet', href='style.css')
	body
		div
			h1 Ocean's Eleven
			ul
				li Comedy
				li Thriller
				li fdfdf
				li dfdf1212
			p.
				Danny Ocean and his eleven accomplices plan to rob
				three Las Vegas casinos simultaneously.
				regregergerg
				ergergerg

		div 
			h2 Fdfdfdfd