html
	head
		title George
		link(rel='stylesheet', href='style.css')
		link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.min.css')
		script(src="scripts.min.js")
	body
		h2 Example Gulp
		
		.col-md-2
			h1 Ocean's Eleven
			ul
				li Comedy
				li Thriller
				li fdfdf
				li dfdf1212
			p.
				Danny Ocean and his eleven accomplices plan to rob
				three Las Vegas casinos simultaneously.
				regregergerg
				ergergerg
		.col-md-10
			div#main-block
